.community-page {
  padding: 41px 258px 41px 41px;
}

.community-page a {
  color: #4cbdec;
  text-decoration: none;
}
.community-page h4 {
  display: none;
}

.community-page > h1 {
  display: none;
}

.community-page > .sect1:nth-child(1) .sect2 h3 {
  font-size: 1.4375em;
}

.community-page .sect1 > h2 {
  font-size: 1.6875em;
  margin-block-start: 1.6875em;
  margin-block-end: 1.6875em;
}

.community-page .sect1:nth-child(1) > h2 {
    margin-block-start: 0;
  }

.community-page .sect1 {
  margin-bottom: 5em;
}

.community-page .sect1 .sect2 {
  margin-top: 2.8em;
}

.community-page .sect1 .sect2 h3 {
  font-size: 1.04em;
}

.imageblock .content {
  display: flex;
  justify-content: center;
}
.community-page .sect1:nth-child(4) .sect3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.community-page .sect1:nth-child(4) .ulist ul {
  width: 400px;
  border: 2px solid #4cbdec;
  border-radius: 6px;
  padding-left: 0;
  margin-left: 1em;
  margin-right: 1em;
  list-style: none;
}

.community-page .sect1:nth-child(4) .ulist ul ul {
  width: unset;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0;
  margin-right: 0;
}

.community-page .sect1:nth-child(4) .ulist ul li p {
  background-color: #4cbdec;
  color: white;
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.community-page .sect1:nth-child(4) .ulist ul ul p {
  background-color: white;
  color: black;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.community-page .sect1:nth-child(4) .ulist ul ul li:last-child p {
  font-weight: bold;
}
