    /****************** website navbar *****************/
    .website-navbar {
        height: 62px;
        background-color: #4cbdec;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column: 1;
        display: flex;
      }
  
      .website-navbar * {
        color: white;
        margin-left: 16px;
        margin-right: 16px;
        cursor: default;
      }
  
      .website-navbar *:first-child {
        flex-grow: 1;
      }