[submodule "devonfw-guide"]
	path = devonfw-guide
	url = https://github.com/devonfw/devonfw-guide.git
[submodule "katacoda-scenarios"]
	path = katacoda-scenarios
	url = https://github.com/devonfw/katacoda-scenarios.git
	branch = master
