[submodule "katacoda-scenarios"]
	path = katacoda-scenarios
	url = https://github.com/devonfw-tutorials/katacoda-scenarios.git
	branch = master
[submodule "wiki-tutorials"]
	path = wiki-tutorials
	url = https://github.com/devonfw-tutorials/wiki-tutorials.git
	branch = main
[submodule "devonfw-guide"]
	path = devonfw-guide
	url = https://github.com/devonfw/devonfw-guide.git
	branch = master
[submodule "architectures"]
	path = architectures
	url = https://github.com/devonfw/architectures.git
	branch = master
