/*************************** Website explore cards *****************************/

/* .explore-page .sect1 .sectionbody .ulist  <-- Could be replaced by a class */

.explore-page .sect1 .sectionbody .ulist {
  box-sizing: border-box;
  width: 250px;
  padding: 1em 24px;
  border-radius: 9px;
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.explore-page .sect1 .sectionbody .ulist:hover {
  border-radius: 9px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.explore-page .sect1 .sectionbody .ulist img {
  width: 65%;
}

.explore-page .sect1 .sectionbody .ulist ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}

.explore-page .sect1 .sectionbody .ulist ul li:first-child span {
  margin: auto;
}

.explore-page .sect1 .sectionbody .ulist ul li:nth-child(2) p {
  padding-top: 1em;
}

.explore-page .sect2 {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.explore-page .sect2 > h3,
.explore-page .sect2 > hr {
  display: none;
}

.explore-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #F4F5F7;
  padding-top: 40px;
  padding-bottom: 56px;
  padding-left: 32px;
  padding-right: 32px;
}

.explore-page .sect1 .sectionbody .ulist a {
  color: #4cbdec;
}