ul.bullet-folder-closed {
  list-style-image: url('../../images/ic_folder_closed.svg');
}

li.bullet-folder-open {
  list-style-image: url('../../images/ic_folder_open.svg');
}

li.bullet-file {
  list-style-image: url('../../images/ic_file.svg');
}

.dir-tree {
  display: flex;
}

.dir-tree.mobile {
  flex-direction: column;
}

.dir-tree:not(.mobile) .dir-column:not(:last-child) {
  width: 400px;
  border-right: 1px solid black;
  min-height: 300px;
}

.dir-tree.mobile {
  flex-direction: column;
}

.dir-tree.mobile .dir-column {
  height: auto;
  min-height: auto;
}

.dir-tree li {
  cursor: pointer;
}
