.dir-tree {
  display: flex;
}

.dir-tree:not(.mobile) .dir-column {
  min-width: 250px;
  max-width: 350px;
}

.dir-tree:not(.mobile) .dir-column:not(:last-child) {
  border-right: 1px solid black;
}

.dir-tree li {
  cursor: pointer;
}

.custom-bullet {
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}

.custom-bullet.cb-file {
  background-image: url(./dir-tree/icons/ic_file.svg) !important;
}

.cb-folder-closed .folder-open .custom-bullet {
  background-image: url(./dir-tree/icons/ic_folder_open.svg);
}

.cb-folder-closed .custom-bullet {
  background-image: url(./dir-tree/icons/ic_folder_closed.svg);
}

.cb-folder-closed .custom-bullet.back-arrow {
  background-image: url(./dir-tree/icons/ic_folder_back.svg);
}

.custom-bullet.forward-arrow {
  background-image: url(./dir-tree/icons/ic_folder_forward.svg);
}
