/***************** Wiki sidebar / wiki second sidebar *****************/
.wiki-sidebar {
  grid-row-start: 1;
  grid-column-start: 1;
  overflow: scroll;
}

.wiki-sidebar .toc2 {
  line-height: 16px;
}

.wiki-sidebar a,
.wiki-second-sidebar a {
  color: #2b292d;
  display: block;
  margin-top: 16px;
  text-decoration: none;
}

.wiki-sidebar .sidebar-header > h1,
.wiki-sidebar .sidebar-header:not(:first-child) > div > div {
  display: none;
}

.wiki-sidebar .sidebar-header:first-child > div > div {
  margin-top: 32px;
}

.wiki-sidebar a.active,
.wiki-second-sidebar a .navy {
  color: #4cbdec;
}

.wiki-sidebar a .navy,
.wiki-second-sidebar a .navy {
  color: #2b292d;
}

.wiki-sidebar ul,
.wiki-second-sidebar ul {
  list-style: none;
  padding-left: 24px;
}
/************* Wiki second sidebar **************/

.wiki-second-sidebar {
  grid-row-start: 1;
  grid-column-start: 3;
  font-family: Ubuntu;
  padding: 0 16px;
  overflow: scroll;
}

.sectlevel2,
.sectlevel3 {
  display: none;
}

.wiki-second-sidebar .sectlevel2.display,
.wiki-second-sidebar .sectlevel3.display {
  display: unset;
}

/***************** Wiki content *****************/
.wiki-content {
  grid-row-start: 1;
  grid-column-start: 2;
  overflow-x: auto;
}

.wiki-content iframe {
  width: 100%;
}

#content .imageblock {
  display: flex;
  flex-direction: column;
}

#content .imageblock .content {
  align-self: center;
}
