/*.menu {
  margin-right: auto;
}

mat-sidenav-container {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;

  a.active {
    background: #8e8d8d;
    color: #fff;

    p {
      color: #4a4a4a;
    }
  }
}
a {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  font-weight: bold;
}*/


header {
  background-color: #4cbdec;
  padding-bottom: 8px;
  font-size: small;
  background-size: fill;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 40px;
  
  #logo {
    padding-top: 8px;
    height: 30px;
    padding-left: 32px;
  }
  #github {
    float: right;
    height: 30px;
    margin-top: -34px;
    padding-right: 16px;
  }

  ul li {
      display: inline;
      list-style-type: none;
      font-weight:600;
      color: white;
      padding-right: 50px; 
  }
  ul li:last-child{
    margin-right: 32px;
  }
  
  #nav-right {
      float: right;
  }

  a {
    text-decoration: none;
    color: white;
  }
  
  a:active {
    text-decoration: none;
    font-weight: bold;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  height: max-content;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4cbdec;
  min-width: 140px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: small;
  border-bottom: 1px solid black;
}

.dropdown-content a:hover {
  text-decoration: underline;
}
.dropdown:hover .dropdown-content {
  display: block;
}
