<header>

  <div id = "navbar">

    <nav style="display : flex; justify-content: space-between">

      <a [routerLink] ="['./journeys']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"><img id = "logo" src ="assets/img/devonfw.PNG"></a>

      <div id = "nav-right">

        <ul>

          <div class="resdrop" >

            <li id = "resbut">MENU ▼</li>

            <div class = "resdropcon">

              <li><a [routerLink] ="['./journeys']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Home</a></li>

              <li><a>More</a></li>

              <li><a [routerLink]="['./data']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Placeholder</a></li>

              <li><a [routerLink]="['./data']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Placeholder</a></li>

              <li><a [routerLink]="['./data']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Placeholder</a></li>
              <a id = "gitlink" href = "https://github.com/devonfw/">Github</a>

            </div>

          </div>

        </ul>

        <a href = "https://github.com/devonfw/"><img id = "github" src = "assets/img/github.PNG"></a>

      </div>

    </nav>

  </div>

</header>

<router-outlet></router-outlet>
