/****************** website navbar *****************/
.website-navbar ul {
  height: 62px;
  background-color: #4cbdec;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 100;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.website-navbar li {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  cursor: default;
  color: white;
}

.website-navbar a {
  color: white;
}

.website-navbar .more-results {
  padding: 4px 8px;
  background-color: #4cbdec;
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.website-navbar ul *:first-child {
  flex-grow: 1;
}
