/*STYLING FÜR DEN DIV MIT DER LISTE*/
.steps{
  background-color: #fafafa;
  float: left;
  width: 20%;
  height: 100%;
}
h1 {
  font-size: larger;
  font-weight: bolder;
}
button:disabled {
  padding: auto;
margin-top: 30px;
width: 100px;
background-color: grey;
color: white;
border: none;
padding: 8px;
font-size: large;
border-radius: 5px;
}
/* STYLING UND SCROLLBAR FÜR DEN DIV MIT DEM INHALT*/
.content{
  float: left;
  max-height: 80%;
  background-color: #fafafa;
  border-radius: 5px;
  width: 70%;
  margin-left: 2%;
  margin-top: 130px;
  padding-left: 16px;
  overflow-y: scroll;
}
.content::-webkit-scrollbar{
  width: 20px;
}
.content::-webkit-scrollbar-thumb {
  background: #4cbdec;
}
.content::-webkit-scrollbar-track {
  background: #fafafa;
}
/*STYLING FÜR DIE BUTTONS*/
.buttondiv {
  width: 70%;
  height: 7%;
  position: absolute;
  bottom: 15px;
  margin-left: 18%;
  margin-right: 12%;
  left: 50px;
  right: 0;
}
.buttonleft {
  position: absolute;
  left: 0;
}
.buttonright {
  position: absolute;
  right: 0;
}
.buttondesign {
  padding: auto;
  margin-top: 30px;
  width: 100px;
  background-color: #4cbdec;
  color: white;
  border: none;
  padding: 8px;
  font-size: large;
  border-radius: 5px;
}
.buttondesign:hover{
  cursor: pointer;
}
@media (max-width: 800px)  {
  .content {
    height: 70%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    bottom: 60px;
    width: 90%;
    z-index: 1;
  }
  .buttondiv {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    bottom: 0;
    width: 90%;
  }
}
