/*STYLING FÜR DEN DIV MIT DER LISTE*/
.steps{
  background-color: #fafafa;
  float: left;
  width: 20%;
  height: 100%;
  margin-top: 80px;
}
h1 {
  font-size: larger;
  font-weight: bolder;
}
button:disabled, button[ng-disabled] {
  padding: auto;
  margin: 16px;
  width: 100px;
  background-color: grey;
  color: white;
  border: none;
  padding: 8px;
  font-size: large;
  border-radius: 5px;
}
/* STYLING UND SCROLLBAR FÜR DEN DIV MIT DEM INHALT*/
.content{
  float: left;
  max-height: 85%;
  background-color: #fafafa;
  border-radius: 5px;
  width: 70%;
  margin-left: 2%;
  margin-top: 80px;
  padding-left: 16px;
  overflow-y: scroll;
}

.content::-webkit-scrollbar{
  width: 20px;
}

.content::-webkit-scrollbar-thumb {
  background: #4cbdec;
}

.content::-webkit-scrollbar-track {
  background: #fafafa;
}

/*STYLING FÜR DIE BUTTONS*/
.buttonleft {
  float: left;
  display: block;
  margin-left: 16px;
}
.buttonright {
  float: right;
  display: block;
  margin-right: 32px;
}

.buttondesign {
  width: 100px;
  background-color: #4cbdec;
  color: white;
  border: none;
  padding: 8px;
  font-size: large;
  border-radius: 5px;
}

.buttondesign:hover{
cursor: pointer;
}
