body,
html {
  font-family: Ubuntu;
  word-wrap: break-word;
}

.search-results .result-card {
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
  padding: 1em 24px;
  margin-bottom: 16px;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.search-results .result-card:hover {
  border-radius: 9px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.search-results .snippet .text {
  white-space: pre-wrap;
}

.search-results .snippet .title {
  padding-bottom: 16px;
}

.search-results .docs-btn {
  display: flex;
  justify-content: flex-end;
}

.search-results .sr-content {
  margin-bottom: 16px;
}

.search-results hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4cbdec;
  margin: 1em 0;
  padding: 0;
}

.search-results span.marked-word {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
