.search-results .snippet .text {
  white-space: pre-wrap;
}

.search-results span.marked-word {
  text-decoration: underline;
}

.collapseModule [id^="collapseResult"].collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 6em;
  overflow: hidden;
}

.collapseModule [id^="collapseResult"].collapsing {
  height: 6em;
}