body,
html {
  margin: 0;
  font-family: Ubuntu;
  background-color: white;
  word-wrap: break-word;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

/*
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}*/

/****************************** Layout ********************************/

.logo-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo-page .cards-section {
  display: flex;
}

/**************** Search bar ******************/

.website-navbar .sb-res-pos {
  position: absolute;
  right: 0;
  top: 55px;
}

.website-navbar .search-bar .search-bar-results::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  right: 80px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
/***************************** Utilities *******************************/
.hidden {
  display: none;
}

.shown {
  display: none;
}

hr {
  display: none;
}

.search-results hr {
  display: block;
}

.bg-custom-blue {
  background-color: #4cbdec;
}

.custom-blue {
  color: #4cbdec;
}

a {
  color: #4cbdec;
  text-decoration: none;
  line-height: inherit;
}

.text-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-ligthgray {
  background-color: #f0f0f0;
}

.custom-col {
  display: flex;
  flex-direction: column;
}

div.hr-2 {
  height: 2px;
}

div.hr-3 {
  height: 3px;
}

table {
  text-align: left;
  border: none;
  margin-top: 4.5em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.overflow-x-auto {
  overflow-x: auto;
}