/*************************** Website logo *****************************/

html,
body,
.logo-page {
    width: 100%;
    height: 100%;
}


/* First section */

.bg-image {
    background-repeat: no-repeat;
    background-position: 100%;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.size-first-title-responsive {
    font-size: 3vw;
}

.size-second-title-responsive {
    font-size: 1.3vw;
}


/* Second Section */


/* Third Section */


/* Fourth Section */

.custom-link-card {
    color: #2B292D;
}

.custom-card {
    transition: 0.3s;
    border-radius: 7px;
}

.custom-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.custom-link-card:hover {
    color: #2B292D;
    text-decoration: none;
}

.custom-text-blue {
    color: #4CBDEC;
}

.link-decoration {
    text-decoration: underline;
}

.size-14 {
    font-size: 14px;
}

.size-13 {
    font-size: 13px;
}


/* Fifth section */

.custom-slider-text-blue {
    color: #51BFEC;
}

.custom-indicators {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    background-color: #2B292D !important;
}

.custom-indicators.active {
    background-color: #52BFEC !important;
}

.size-20 {
    font-size: 20px;
}

.custom-grey {
    color: rgba(43, 41, 45, 0.6);
}


/* Sixth section */


/* Sevent section */

.custom-border-color {
    border-top: 1px solid rgba(43, 41, 45, 0.6);
}


/*before*/

.logo-page>.sect1:nth-child(1) {
    width: 100%;
}

.logo-page>.sect1:nth-child(1) .sectionbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo-page>.sect1:nth-child(1) ul {
    box-sizing: border-box;
    width: 600px;
    padding: 32px 24px;
    background-color: white;
    border: 2px solid rgba(43, 41, 45, 0.2);
    border-radius: 9px;
    display: flex;
    margin-top: 32px;
    margin-left: 1em;
    margin-right: 1em;
}

.logo-page>.sect1:nth-child(1) ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.logo-page>.sect1:nth-child(1) li:nth-child(1) {
    margin-right: 1em;
}

.logo-page>.sect1:nth-child(1) ul:hover {
    border-radius: 9px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.logo-page>.sect1:nth-child(1) .image {
    margin-right: 32px;
}

.logo-page>.sect1:nth-child(1) img {
    width: 120px;
}

.logo-page>.sect1:nth-child(1) a {
    color: #4cbdec;
}