/*************************** Website logo *****************************/

.logo-page > .sect1:nth-child(1) {
  width: 100%;
}

.logo-page > .sect1:nth-child(1) .sectionbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo-page > .sect1:nth-child(1) ul {
  box-sizing: border-box;
  width: 600px;
  padding: 32px 24px;
  background-color: white;
  border: 2px solid rgba(43, 41, 45, 0.2);
  border-radius: 9px;
  display: flex;
  margin-top: 32px;
  margin-left: 1em;
  margin-right: 1em;
}

.logo-page > .sect1:nth-child(1) ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.logo-page > .sect1:nth-child(1) li:nth-child(1) {
  margin-right: 1em;
}

.logo-page > .sect1:nth-child(1) ul:hover {
  border-radius: 9px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.logo-page > .sect1:nth-child(1) .image {
  margin-right: 32px;
}

.logo-page > .sect1:nth-child(1) img {
  width: 120px;
}

.logo-page > .sect1:nth-child(1) a {
  color: #4cbdec;
}
