/***** General styles *****/

video {
  width: 100%;
  border: 1px solid black;
}

/* Fourth Section */

.custom-link-card {
  color: #2B292D;
}

.custom-card {
  transition: 0.3s;
  border-radius: 7px;
  min-height: 175px;
}

.custom-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.custom-link-card:hover {
  color: #2B292D;
  text-decoration: none;
}

.link-decoration {
  text-decoration: underline;
}

.size-17 {
  font-size: 17px;
}

.size-16 {
  font-size: 16px;
}

@media (max-width: 992px) {
  .custom-card-img {
      max-width: 160px;
  }
}