.steps{
  background-color: #fafafa;
  position: absolute;
  width: 20%;
  height: 70%;
  margin-top: 80px;
  z-index: 1;
  overflow-y: auto;
}
.stepswrapper{
  margin-top:13px
}

h1 {
  font-size: larger;
  font-weight: bolder;
}

.steps::-webkit-scrollbar{
  width: 20px;
}

.steps::-webkit-scrollbar-thumb {

  background: #4cbdec;

}

.steps::-webkit-scrollbar-track {

  background: #fafafa;

}
@media (max-width: 800px)  {
  .steps {
    height: 15%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: -64px;
    top: -20px;
    width: 102%;
    z-index: auto;
    overflow-y: auto;
  }
  .steps::-webkit-scrollbar{
    width: 20px;
  }
  .steps::-webkit-scrollbar-thumb {
    background: #4cbdec;
  }
  .steps::-webkit-scrollbar-track {
    background: #fafafa;
  }
}
