.community-card {
  border: 1px solid #4cbdec;
  border-radius: 6px;
  width: 20rem;

  dt.hdlist1 {
    background-color: #4cbdec;
    padding: 0.75rem 1rem;
    color: white;
  }

  dd .ulist ul {
    list-style: none;
    margin-left: 0;

    li:last-child p {
      font-weight: bold;
    }
  }

  dl dt {
    margin-bottom: 1em;
  }

  dl dd {
    margin-right: 1.125em;
  }
}

.community-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;

  & > *:first-child {
    width: 100%;
  }

  .community-card {
    margin: 1rem;
  }
}