body.book.toc2.toc-left {
  display: grid;
  grid-template-rows: auto 100px 40px 1fr auto;
  grid-template-columns: 1fr calc(62.5em * 0.3) calc(62.5em * 0.7) 1fr;
  padding-left: 0;
  visibility: collapse;

  & > * {
    visibility: visible;
  }

  .website-navbar {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  #header {
    display: grid;
    grid-template-rows: 100px 40px 1fr;
    grid-template-columns: calc(62.5em * 0.3) calc(62.5em * 0.7);
    align-self: start;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;

    & > *:nth-child(1) {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    & > *:nth-child(2) {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    & > *:nth-child(3) {
      grid-row-start: 3;
      position: relative;
      background-color: white;
      border: none;
      grid-column-start: 1;
      grid-column-end: 2;
      width: 100%;
      padding-right: 2rem;
    }
  }

  #content {
    grid-row-start: 4;
    grid-column-start: 3;
    margin: 0;
    padding: 1.25em 1em 0;
  }

  .footer {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
