.intro-section {
  padding: 1.25rem 1.5rem 0.75rem;
  margin-bottom: 1.25em;
  background-color: #f4f5f7;
}

.guide-section {
  .sectionbody {
    display: flex;
    flex-wrap: wrap;
  }

  & > *:first-child {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .sectionbody .paragraph:nth-child(odd) {
    padding-right: 0.5rem;
  }

  .sectionbody .paragraph:nth-child(even) {
    padding-left: 0.5rem;
  }

  .sectionbody .paragraph {
    max-width: 100%;
    box-sizing: border-box;
  }
}

.sect1.cards {
  text-align: center;
}

.videoblock iframe {
  width: 100%;
  height: 216px;
}

@media (min-width: 576px) {
  .intro-section {
    padding: 3rem 4rem 2rem;
  }

  .guide-section {
    & > *:first-child {
      margin-bottom: 2rem;
    }

    .sectionbody .paragraph:nth-child(odd) {
      padding-right: 1rem;
    }

    .sectionbody .paragraph:nth-child(even) {
      padding-left: 1rem;
    }

    .sectionbody .paragraph {
      max-width: 50%;
      box-sizing: border-box;
    }
  }

  .videoblock iframe {
    width: 100%;
    height: 297px;
  }
}

@media (min-width: 768px) {
  .videoblock iframe {
    width: 768px;
    height: 420px;
  }
}