/****************NAVBAR****************/
.website-navbar {
  width: 100%;
  background-color: #4cbdec;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.website-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;

  img {
    width: 9rem;
    min-width: 9rem;
  }

  li {
    margin-top: 0.5rem;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.9rem;

    &:first-child {
      margin-right: auto;
    }

    p {
      margin-bottom: 0;
    }

    p a {
      font-weight: 500;
      color: #ffffff;
    }
  }
}

@media (min-width: 577px) {
  .website-navbar ul {
    li {
      margin-top: 0;
    }
  }
}

@media (max-width: 992px) {
  .website-navbar ul {
    li {
      margin-right: 0.5rem;
      margin-left: 0.4rem;
    }
  }
}

@media (min-width: 992px) {
  .website-navbar a {
    img {
      margin-right: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .website-navbar ul li p {
    a {
      display: none;
      width: 0px;
    }
  }
  /*.website-navbar ul {
    li {
      width: 0px;
    }
  }*/
}

@media (max-width: 576px) {
  .website-navbar ul li p {
    a {
      display: none;
      width: 2.1rem;
      overflow: hidden;
    }
  }
  .website-navbar {
    ul {
      width: 2.1rem;
      overflow: hidden;
    }
  }
  .website-navbar ul {
    li {
      margin-right: 0;
    }
  }
}

.website-navbar form {
  //margin-left: 1rem;

  input.form-control {
    width: unset;
  }
}

.website-navbar navbar-brand {
  display: inline-block;
}

/*.website-navbar a img {
  margin-right: 1rem;
}*/

/****************CTA****************/
.openblock.CTA {
  top: 3rem;
  position: absolute;
  max-width: 25rem;
}

.openblock.CTA {
  .content > *:nth-child(n + 3) {
    margin-top: 2rem;
    display: inline-flex;
    flex-wrap: wrap;
  }
}

.openblock.CTA h2 {
  line-height: 3rem;
  color: #2b292d;
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .openblock.CTA {
    max-width: 40rem;
  }

  .openblock.CTA h2 {
    line-height: 3.5rem;
    font-size: 3rem;
  }
}

.openblock.CTA h3 {
  color: #2b292d;
  font-size: 1.2 rem;
  margin-top: 0;
}

.openblock.CTA .paragraph.blue-button {
  font-size: 0.8rem;
  color: white;
}

.openblock.CTA .paragraph.white-button {
  font-size: 0.8rem;
  color: #4cbdec;
}

b.button:before {
  content: '';
}

b.button:after {
  content: '';
}

.imageblock.bg-image {
  position: inherit;
  max-width: 90em;
  display: inline-flex;
  flex-wrap: wrap;
  z-index: -1;
}

@media (max-width: 576px) {
  .imageblock.bg-image {
    display: none;
  }
  .openblock.CTA {
    position: relative;
    top: 0;
    display: inline;
  }
  .custom-card {
    margin-left: 0rem !important;
  }

  .devonfw-intro {
    margin-top: 2rem;
  }
}

/****************DEVONFW INTRO****************/
.devonfw-intro .hdlist1 {
  color: #2b292d;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.devonfw-intro .ulist ul {
  display: inline-flex;
  margin-left: 0;
  list-style-type: none;
}

.devonfw-intro .ulist li:last-of-type {
  padding-left: 5rem;
}

.devonfw-intro .ulist p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.devonfw-intro dl dd {
  margin: 0;
}

/****************DEVONFW DIFFERENT****************/
.devonfw-contrib ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  padding-bottom: 15%;

  &:first-child {
    margin-left: 0;
  }
}

.devonfw-contrib ul li p span img {
  max-width: 300px;
  width: 100%;
}

.devonfw-diff {
  text-align: center;
}

.dlist.devonfw-diff .hdlist1 {
  color: #2b292d;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.openblock.cards {
  text-align: center;
}

.custom-card {
  border: 0.05rem solid rgba(43, 41, 45, 0.2);
  border-radius: 0.4rem;
  width: 31%;
  min-width: 100%;
  margin: 0.5rem;
  height: auto;
  background-color: white;
  padding: 0.75rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;

  ul li {
    & > * {
      margin-bottom: 0;
    }

    & > *:nth-child(1) {
      align-self: center;
    }

    & > *:nth-child(2) {
      margin-top: 1rem;
    }

    & > *:nth-child(2) * {
      margin-bottom: 0.3rem;
    }

    & > .ulist {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      align-items: flex-end;
    }

    & > p > .image {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      align-items: flex-start;
    }
  }
}

.ulist.custom-card > ul {
  display: flex;
  margin: 0 auto;

  & > li {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

@media (min-width: 450px) {
  .custom-card {
    height: 11rem;
    min-width: 23rem;
  }

  .ulist.custom-card > ul {
    & > li {
      flex-direction: row;
    }
  }
}

.openblock.cards {
  margin-bottom: 15%;
}

.custom-card li {
  list-style-type: none;
  line-height: 1rem;
  color: #2b292d;
}

.custom-card p {
  color: #2b292d;
  font-size: 0.9rem;
  line-height: 1.1rem;
  display: inline-block;
}

.custom-card p a {
  margin-top: 0.2rem;
}

.custom-card .ulist li:nth-child(1) > p {
  font-weight: bold;
}

.custom-card .image > img {
  width: 6.5rem;
}

/****************FOOTER****************/
#footer {
  background: none;
}

#footer .content {
  display: inline-flex;
  flex-wrap: wrap;
}

#footer .hdlist1 {
  color: #2b292d;
  font-size: 1.1rem;
  font-weight: 600;
}

#footer a {
  color: rgba(43, 41, 45, 0.6);
  font-size: 0.9rem;
}

.openblock.footerLinks {
  text-align: center;
}

.dlist.linklist {
  text-align: left;
  margin-left: 4rem;
  margin-right: 4rem;
}

.dlist.linklist .hdlist1 {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
}

.dlist.linklist .ulist ul {
  list-style-type: none;
}

.footerFooter {
  border-top: 1px solid rgba(43, 41, 45, 0.1);
  margin-top: 3.5rem;
  text-align: center;
}

.footerFooter ul {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 0;
}

.footerFooter ul li {
  margin: 1rem;
}

/********* Carousel *********/
$max-slides-allowed: 4;

@mixin create-n-slides($n-slides) {
  .slide {
    position: absolute;
    animation: carousel #{$n-slides * 5s} infinite;
    opacity: 0;
    width: 100%;
    height: auto;
  }

  @for $i from 1 through $n-slides {
    .slide:nth-child(#{$i}) {
      animation-delay: #{($i - 1) * 5s};
    }

    $hide-from: $n-slides + 1;
    .slide:nth-child(n + #{$hide-from}) {
      display: none;
    }
  }
}

@keyframes carousel {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.carousel {
  max-width: 42rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  text-align: center;

  ul {
    list-style: none;
    margin-left: 0;

    & > li:nth-child(1) * {
      color: #4cbdec;
      font-size: 1.15em;
      line-height: 1.7;
      font-weight: 600;
    }

    & > li:nth-child(2) * {
      font-size: 1.15em;
      line-height: 1.7;
      font-weight: 600;
    }

    & > li:nth-child(3) * {
      font-size: 0.9em;
      font-weight: 600;
      margin-bottom: 0;
    }

    & > li:nth-child(4) * {
      font-size: 0.9em;
    }
  }

  @for $i from 1 through $max-slides-allowed {
    &.slides-#{$i} {
      @include create-n-slides($i);
    }
  }
}
