/****************NAVBAR****************/
.website-navbar {
  width: 100%;
  background-color: #4cbdec;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.website-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;

  img {
    width: 9rem;
  }

  li {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.9rem;

    &:first-child {
        margin-right: auto;
    }

    p {
        margin-bottom: 0;
    }

    p a {
        font-weight: 500;
        color: #ffffff;
    }
  }
}

.website-navbar form {
  display: inline-block;
}

.website-navbar navbar-brand {
  display: inline-block;
}

.website-navbar a img {
  filter: invert(1);
}

/****************FOOTER****************/
#footer {
  background: none;
}

#footer .content {
  display: inline-flex;
}

#footer .hdlist1 {
  color: #2b292d;
  font-size: 1.1rem;
  font-weight: 600;
}

.footerFooter ul {
  list-style-type: none;
  display: inline-flex;
}

.footerFooter ul li {
  margin: 1rem;
}
