/****************NAVBAR****************/
.website-navbar{
    height: 3rem;	
    width: 100%;	
    background-color: #4CBDEC;	
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.5);
    padding: 0.5rem;
}

.website-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.website-navbar ul img{
    width: 9rem;
}

.website-navbar ul li{
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;		
    font-size: 0.9rem;
}

.website-navbar ul li:first-child{
    margin-right: 20rem;
}

.website-navbar ul li p a {
    font-weight: 500;
    color: #FFFFFF;	
}

.website-navbar form{
    display: inline-block;
}

.website-navbar navbar-brand{
    display: inline-block;
}

.website-navbar a img{
    filter: invert(1);
}

/****************FOOTER****************/
#footer{
    background: none;
}

#footer .content { 
display: inline-flex; }

#footer .hdlist1{
    	color: #2B292D;	
    	font-size: 1.1rem;
    	font-weight: 600;
}

.footerFooter ul {
    list-style-type: none;
    display:inline-flex;
}

.footerFooter ul li {
    margin: 1rem;
}
