/****************NAVBAR****************/
.website-navbar {
  width: 100%;
  background-color: #4cbdec;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.website-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;

  img {
    width: 9rem;
  }

  li {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.9rem;

    &:first-child {
        margin-right: auto;
    }

    p {
        margin-bottom: 0;
    }

    p a {
        font-weight: 500;
        color: #ffffff;
    }
  }
}

.website-navbar form {
  display: inline-block;
}

.website-navbar navbar-brand {
  display: inline-block;
}

.website-navbar a img {
    margin-left: 2rem;
    margin-right: 1rem;
}

/****************CTA****************/
.openblock.CTA{
    top: 3rem;
    left: -6rem;
    position: absolute;
    width: 25rem;
}

.openblock.CTA h2 {
    line-height: 3rem;
    color: #2B292D;	
    margin-bottom: 0.5rem;
}

.openblock.CTA h3 {
    color: #2B292D;
    font-size: 0.9rem;
    margin-top: 0;
}

.openblock.CTA .paragraph.blue-button{
    height: 2rem;
    width: 7rem;
    background-color: #4CBDEC;
    text-align: center;
    display: inline-block;
    margin-top: 3rem;
    margin-right: 1rem;
}

.openblock.CTA .paragraph.blue-button b{
    font-size: 0.8rem;
    color: white;
}

.openblock.CTA .paragraph.white-button{
    height: 2rem;
    width: 7rem;
    background-color: white;
    text-align: center;
    display: inline-block;
}

.openblock.CTA .paragraph.white-button b{
    font-size: 0.8rem;
    color: #4CBDEC;
}

b.button:before{
    content: "";
}

b.button:after{
    content: "";
}


.imageblock.bg-image {
    position: inherit;
    top: -8.5rem;
    width: 140%;
    z-index: -1;
}

/****************DEVONFW INTRO****************/
.devonfw-intro .hdlist1{
    color: #2B292D;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.devonfw-intro .ulist ul{
    display: inline-flex;
    margin-left: 0;
    list-style-type: none; 
}

.devonfw-intro .ulist li:last-of-type{
    padding-left: 5rem; 
}

.devonfw-intro .ulist p{
    font-size: 1rem;	
    line-height: 1.4rem;
}

.devonfw-intro dl dd{
    margin: 0;
}


/****************DEVONFW DIFFERENT****************/
.devonfw-diff { text-align: center; }

.custom-card { 
    border: 0.03rem solid rgba(43,41,45,0.2);
    border-radius: 0.4rem;
    display: inline-flex; 
    width: 30%; 
    margin: 0.5rem; 
    height: 10rem; 
    background-color: white;
    padding: 2rem;
}

.custom-card .hdlist1 {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #2B292D;
}

.custom-card ul {
    display: inline-flex;
    margin: 0;
}

.custom-card dl dd{
    margin: 0;
}

.custom-card li:first-of-type {
    padding-right: 1rem;
}

.custom-card li {
    list-style-type: none;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #2B292D;
}


/****************FOOTER****************/
#footer { background: none; }

#footer .content { 
    display: inline-flex;
}

#footer .hdlist1 { 
    color: #2b292d; 
    font-size: 1.1rem; 
    font-weight: 600; 
}

#footer a {
    color: rgba(43,41,45,0.6);
    font-size: 0.9rem;
}

.openblock.footerLinks {
    text-align: center;
}

.dlist.linklist {
    text-align: left;
    margin-left: 4rem;
    margin-right: 4rem;
}

.dlist.linklist .hdlist1 {
    padding-left: 2.5rem;
    margin-bottom: 1rem;
}
    
.dlist.linklist .ulist ul {
    list-style-type: none;
}

.footerFooter {
    border-top: 1px solid rgba(43,41,45,0.1);
    margin-top: 3.5rem;
}

.footerFooter ul {
    list-style-type: none;
    display: inline-flex;
    margin-left: 14.5rem;
}

.footerFooter ul li {
    margin: 1rem; 
}
