/****************NAVBAR****************/
.website-navbar {
  width: 100%;
  background-color: #4cbdec;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.website-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;

  img {
    width: 9rem;
    min-width: 9rem;
  }

  li {
    margin-top: 0.5rem;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.9rem;

    &:first-child {
      margin-right: auto;
    }

    p {
      margin-bottom: 0;
      margin-right: 20px;
    }

    p a {
      font-weight: 500;
      color: #ffffff;
    }
  }
}

@media (max-width: 992px) {
  .website-navbar ul {
    li {
      margin-right: 0.5rem;
      margin-left: 0.4rem;
    }
  }
}

@media (min-width: 992px) {
  .website-navbar a {
    img {
      margin-right: 1rem;
    }
  }
}

@media (min-width: 769px) {
  .menu-button {
    display: none;
  }
  .website-navbar ul {
    visibility: visible;
    li {
      margin-top: 0;
      position: relative;
      &:hover {
        ul.sub-menu {
          visibility: visible;
        }
      }
    }
    ul.sub-menu {
      position: absolute;
      top: 24px;
      left: 0;
      z-index: 1;
      background: #4cbdec;
      min-width: 170px;
      box-shadow: 0px 14px 10px 0px #004f67;
      visibility: hidden;
      li {
        padding: 8px 16px;
        width: 100%;
        margin: 0 !important;
        border-bottom: 1px solid #23576e;
      }
    }
  }
}

@media (max-width: 576px) {
  .website-navbar ul {
    li {
      margin-right: 0;
    }
  }
  .website-navbar ul li:first-child {
    width: 2.1rem;
    overflow: hidden;
  }
}

@media (max-width: 375px) {
  .navbar-github {
    display: none !important;
  }
}

.website-navbar form {
  //margin-left: 1rem;

  input.form-control {
    width: 140px;
    height: 18px!important;
    font-size: 9px;
    margin-left: .5rem!important; 
    padding: .05rem;
    border-radius: .15rem;
  }
}

.website-navbar navbar-brand {
  display: inline-block;
  margin-right: .5rem;
  margin-left: .5rem;
}

/****************CTA****************/
.openblock.CTA {
  top: 3rem;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  color: white;
}

#welcome\.asciidoc > #content {
  padding: 0;
  max-width: none;
  > div:nth-child(n + 3) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.openblock.CTA {
  .content > *:nth-child(n + 3) {
    margin-top: 2rem;
    display: inline-flex;
    flex-wrap: wrap;
  }
}

.openblock.CTA h2 {
  line-height: 3rem;
  color: #2b292d;
  margin-bottom: 1rem;
}

.welcome-desc1 p strong {
  color: #66F6FF;
}

@media (max-width: 1000px) {
  .openblock.CTA .welcome-desc1 p {
    font-size: 35px;
  }
  .imageblock.bg-image img {
    height: 500px;
  }
}

@media (max-width: 575px) {
  .openblock.CTA {
    top: 1rem;
  }
  
  .openblock.CTA .welcome-desc1 p {
    line-height: 40px;
  }
}

@media (min-width: 576px) {
  .openblock.CTA h2 {
    line-height: 3.5rem;
    font-size: 3rem;
  }
}

.openblock.CTA h3 {
  color: #2b292d;
  font-size: 1.2 rem;
  margin-top: 0;
}

.openblock.CTA .paragraph.blue-button {
  font-size: 0.8rem;
  color: white;
}

.openblock.CTA .paragraph.white-button {
  font-size: 0.8rem;
  color: #4cbdec;
}

b.button:before {
  content: '';
}

b.button:after {
  content: '';
}

.welcome-desc1 p {
  font-size: 48px;
}
.welcome-desc2 p {
  font-size: 16px;
}

.imageblock.bg-image {
  margin-top: -50px;
  position: inherit;
  display: inline-flex;
  flex-wrap: wrap;
  z-index: -1;
}
.imageblock.bg-image img {
  width: 100vw;
  max-height: 500px;
}

@media (max-width: 576px) {
  .openblock.CTA .white-button-overlay {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100vw;
  }
  .custom-card {
    margin-left: 0rem !important;
  }
}

/****************DEVONFW INTRO****************/


.devonfw-intro-content {
  .content {
    display: flex;
    flex-direction: row;
	padding: 50px;
  }
  
  .devonfw-intro, .devon-intro-image {
    flex: 1;
  }
  
  .devonfw-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px 0 0;
	
	.hdlist1 {
      color: #23576e;
      font-size: 3rem;
      line-height: 2.5rem;
    }
	
	dl dd {
      margin: 0;
      text-align: justify;
    }
	
	.ulist {
      margin-top: 30px;
	  
	  ul > li > p {
        color: #4cbdec;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
      }
	  
	  li:last-child .olist li:last-child p {
        text-align: right;
		margin-top: 30px;
		
		a {
          background-color: #4cbdec;
          color: white;
          padding: 8px;
        }
      }
    }
	
	ul, ol {
      margin-left: 0;
      list-style-type: none;
    }
  }
  
  .devon-intro-image {
    display: block;
 	padding: 0 0 0 50px;
	
	img {
      transform: scale(1.3);
    }
  }
}


@media (max-width:768px) {
  .devonfw-intro {
    padding: 0 !important;
  }
  .devon-intro-image {
    display: none !important;
  }
  .devonfw-intro .ulist li:last-child .olist li:last-child p {
    text-align: left !important;
  }
  ul.sub-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li {
      &:first-child {
       width: auto;
      }
    }
  }
}

@media (min-width: 769px) {
  .devon-intro-image {
    display: block;
  }
}


.learn-more{
  margin-top: 2rem;
}

.learn-more p a {
  margin-left: 0;
  background-color: #4cbdec;
  color: white;
  padding: 8px;
}

.devon-intro-image {
  display: none; 
}

@media (min-width:1024px) {
  .learn-more p a {
    margin-left: 480px;
    background-color: #4cbdec;
    color: white;
    padding: 8px;
  }

}

/****************DEVONFW DEMO****************/
.openblock.devonfw-demo {
  background-color: #faf9f9;
  padding: 50px;
  
  & > .content {
    display: flex;
    flex-direction: row;
    
    .devonfw-demo-image, .devonfw-demo-description {
      flex: 1;
      display: flex;
      align-items: center;
    }
	
	.devonfw-demo-image {
		padding: 0 50px 0 0;
	}
	
	.devonfw-demo-description {
		padding: 0 0 0 50px;
	}
  }
}
.devonfw-demo-description {

  .hdlist1 {
    color: #23576e;
    font-size: 3rem;
    line-height: 2.5rem;
  }

  li {
    list-style: none;
  }

  ul, ol {
    margin-left: 0;
  }
  
  dl {
    dd {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  
  .ulist ul > li:first-child > p {
		color: #4cbdec;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 30px;
	}
	
	.ulist .olist li:last-child p {
		text-align: right;
		margin-top: 30px;
		
		 a {
			border-radius: 0;
			&:hover {
				color: white;
				text-decoration: underline;
			}
		}
	}
}

@media (max-width:768px) {
  .openblock.devonfw-demo {
    & > .content {
      display: flex;
      flex-direction: column;
	  
	  .devonfw-demo-image, .devonfw-demo-description {
		padding: 0;
	  }
	  
	  .devonfw-demo-description {
		.ulist .olist li:last-child p {
			text-align: left;
		}
	  }
    }
  }
}

@media (max-width:600px) {
	.devonfw-demo-image {
		display: none !important;
	}
}

/****************DEVONFW DIFFERENT****************/
.devonfw-contrib ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  padding-bottom: 15%;

  &:first-child {
    margin-left: 0;
  }
}

.devonfw-contrib ul li p span img {
  max-width: 300px;
  width: 100%;
}

.devonfw-diff {
  text-align: center;
}

.dlist.devonfw-diff .hdlist1 {
  color: #2b292d;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 45px;
}

.openblock.cards {
  text-align: center;
  padding: 50px;
}

@media (min-width: 768px){
  .custom-card {
    height: 370px;
  }
}

@media (min-width: 992px) {
  .custom-card:nth-child(3) .ulist li:nth-child(3){
    margin-top: 34px;
  }
}

@media (max-width: 992px) {
  .custom-card:nth-child(3) .ulist li:nth-child(3){
    margin-top: 12px;
  }
}

.custom-card {
  border: 0.05rem solid rgba(43, 41, 45, 0.2);
  border-radius: 0.4rem;
  width: 31%;
  min-width: 100%;
  margin: 0.5rem;
  height: auto;
  background-color: white;
  padding: 0.75rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 380px;

  ul li {
    & > * {
      margin-bottom: 0;
    }

    & > *:nth-child(1) {
      align-self: center;
    }

    & > *:nth-child(2) * {
      margin-bottom: 0.2rem;
      margin-right: 0.25rem;
    }

    & > .ulist {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      align-items: flex-end;
    }

    & > p > .image {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      align-items: flex-start;
    }
  }
}

.ulist.custom-card > ul {
  display: flex;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .custom-card {
    min-width: 47%;
  }

  .ulist.custom-card > ul {
    & > li {
      flex-direction: row;
    }
  }
}

@media (min-width: 769px) {
  .custom-card {
    min-width: 13em;
  }
}

.openblock.cards {
  margin-bottom: 15%;
}

.custom-card li {
  list-style-type: none;
  line-height: 1rem;
  color: #2b292d;
}

.custom-card p {
  color: #2b292d;
  font-size: 0.9rem;
  line-height: 1.1rem;
  display: inline-block;
}

.custom-card p a {
  margin-top: 0.2rem;
  background-color: #4cbdec;
  color: white;
  padding: 8px;
}

.custom-card .ulist li:nth-child(1) > p {
  font-weight: bold;
  color: #378aad;
  font-size: 20px;
}

.custom-card .ulist li:nth-child(3) {
  margin-top: 55px;
}

.custom-card .image > img {
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/****************FOOTER****************/
#footer {
  background: #faf9f9;
}

#footer .content {
  display: inline-flex;
  flex-wrap: wrap;
}

#footer .hdlist1 {
  color: #2b292d;
  font-size: 1.1rem;
  font-weight: 600;
}

#footer a {
  color: rgba(43, 41, 45, 0.6);
  font-size: 0.9rem;
}

.openblock.footerLinks {
  text-align: center;
}

.dlist.linklist {
  text-align: left;
  margin-left: 4rem;
  margin-right: 4rem;
}

.dlist.linklist .hdlist1 {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
}

.dlist.linklist .ulist ul {
  list-style-type: none;
}

.footerFooter {
  border-top: 1px solid rgba(43, 41, 45, 0.1);
  margin-top: 3.5rem;
  text-align: center;
}

.footerFooter ul {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 0;
}

.footerFooter ul li {
  margin: 1rem;
}

@media (max-width: 1200px) {
  .dlist.linklist {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .dlist.linklist {
    margin-left: 0;
    margin-right: 3.5rem;
  }
}

@media (max-width: 860px) {
  .dlist.linklist {
    margin-left: 0;
    margin-right: 1.5rem;
  }
}

@media (max-width: 740px) {
  .footerFooter ul li {
    margin-right: .5rem;
  }
  .dlist.linklist {
    margin-left: 0;
    margin-right: 0.5rem;
  }
}

@media (max-width: 620px) {
  .footerFooter ul li {
    margin-right: .5rem;
  }
  .dlist.linklist {
    min-width: 10rem;
    margin-left: 0;
    margin-right: 0;
  }
  .footer a {
    font-size: 0.85rem;
  }
}

/********* Carousel *********/
$max-slides-allowed: 4;

@mixin create-n-slides($n-slides) {
  .slide {
    position: absolute;
    animation: carousel #{$n-slides * 5s} infinite;
    opacity: 0;
    width: 100%;
    height: auto;
  }

  @for $i from 1 through $n-slides {
    .slide:nth-child(#{$i}) {
      animation-delay: #{($i - 1) * 5s};
    }

    $hide-from: $n-slides + 1;
    .slide:nth-child(n + #{$hide-from}) {
      display: none;
    }
  }
}

@keyframes carousel {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.carousel {
  max-width: 42rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  text-align: center;

  ul {
    list-style: none;
    margin-left: 0;

    & > li:nth-child(1) * {
      color: #4cbdec;
      font-size: 1.15em;
      line-height: 1.7;
      font-weight: 600;
    }

    & > li:nth-child(2) * {
      font-size: 1.15em;
      line-height: 1.7;
      font-weight: 600;
    }

    & > li:nth-child(3) * {
      font-size: 0.9em;
      font-weight: 600;
      margin-bottom: 0;
    }

    & > li:nth-child(4) * {
      font-size: 0.9em;
    }
  }

  @for $i from 1 through $max-slides-allowed {
    &.slides-#{$i} {
      @include create-n-slides($i);
    }
  }
}

.edit-link {
  font-size: 1em;
  color: #222222;
}

.anchorjs-link {
  font-size: 1em;
  color: #222222;
}
