/*************************** Website cards *****************************/

.website-explore-card {
  box-sizing: border-box;
  width: 250px;
  padding: 1em 24px;
  background-color: white;
  border: 2px solid rgba(43, 41, 45, 0.2);
  border-radius: 9px;
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.website-explore-card:hover {
  border-radius: 9px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.website-explore-card img {
  width: 65%;
}

.website-explore-card ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}

.website-explore-card ul li:first-child span {
  margin: auto;
}

.website-explore-card ul li:nth-child(2) p {
  padding-top: 1em;
}

.sect3 {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.sect3 > h4,
.sect3 > hr {
  display: none;
}

.sect2 {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #F4F5F7;
  padding-top: 40px;
  padding-bottom: 56px;
  padding-left: 32px;
  padding-right: 32px;
}

.website-explore-card a {
  color: #4cbdec;
}