/*************************** Website cards *****************************/

.website-card {
  box-sizing: border-box;
  width: 600px;
  padding: 32px 24px;
  background-color: white;
  border: 2px solid rgba(43, 41, 45, 0.2);
  border-radius: 9px;
  display: flex;
  margin-top: 32px;
}

.website-card:hover {
  border-radius: 9px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.website-card .image {
  margin-right: 32px;
}

.website-card img {
  width: 80%;
}

.website-card a {
  color: #4cbdec;
}
