/***** General styles *****/

video {
  width: 100%;
  border: 1px solid black;
}

.resources-page {
  padding: 41px 258px 41px 41px;
}

.resources-page a {
  color: #4cbdec;
}

.resources-page .sect1 > h3 {
  display: none;
}

.resources-page ul {
  list-style: none;
  padding-left: 0;
}

/***** Introduction *****/
.resources-page .sect1:nth-child(1) {
  background-color: #f4f5f7;
  padding: 27px 77px 55px 90px;
}

.resources-page .sect1:nth-child(1) .sect2 div.paragraph:last-child p {
  height: 45.35px;
  width: 156.44px;
  border-radius: 1.51px;
  background-color: #4cbdec;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.resources-page .sect1:nth-child(1) a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


/***** Introduction: devonfw guide *****/

.resources-page .sect1:nth-child(2) .ulist ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-between;
}

.resources-page .sect1:nth-child(2) .ulist ul li {
  width: 500px;
  margin: auto;
}


/***** Stack technology *****/
.resources-page .sect1:nth-child(4) .sect2 > .ulist {
  width: 408px;

  box-sizing: border-box;
  padding: 1em 24px 1em 1em;
  background-color: white;
  border: 2px solid rgba(43, 41, 45, 0.2);
  border-radius: 9px;
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.resources-page .sect1:nth-child(4) .sect2 > .ulist > ul > li {
  display: flex;
}

.resources-page .sect1:nth-child(4) .sect2 > .ulist > ul > * {
  display: flex;
  margin: auto;
}

.resources-page .sect1:nth-child(4) .sect2  .ulist .ulist li:first-child {
  font-weight: 600;
}

.resources-page .sect1:nth-child(4) .ulist img {
  height: 166px;
  width: 166px;
}

.resources-page .sect1:nth-child(2) > h2, /** introduction: devonfw guide title **/
.resources-page .sect1:nth-child(4) .sect2 > h3 {
  display: none;
}

.resources-page .sect1:nth-child(4) .sect2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 160px;
  margin-left: 134px;
  margin-right: 134px;
}

/***** After stack technology *****/

.resources-page .sect1 > div {
  margin-bottom: 72px;
}
.resources-page .sect1:nth-child(n + 6) .sect2 {
  margin-top: 2em;
}

.resources-page .sect1:nth-child(n + 6) a {
  text-decoration: none;
}

/***** Zebra tables *****/
.resources-page .sect1:nth-child(n + 6) table {
  text-align: left;
  border: none;
  margin-top: 4.5em;
}
.resources-page .sect1:nth-child(n + 6) tr:nth-child(even) {
  background-color: #f2f2f2;
}
