.website-navbar {
  position: sticky;
  top: 0;
  z-index: 50;

  .sb-res-pos {
    position: absolute;
    right: 0;
  }

  .click-outside {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent !important;
    top: 0;
    left: 0;
  }
}

.website-navbar .search-bar .search-bar-results::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  right: 80px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
