name: build-and-deploy

on:
  workflow_run:
    workflows: ["Dispcher event on update of devonfw guide"]
    types:
      - completed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:     
      - name: Configure git
        run: |
          git config --global fetch.parallel 20

      - name: Clone
        uses: actions/checkout@v1
        with:
          submodules: recursive

      - name: SetupRuby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: "2.x"

      - name: Setup Node
        uses: actions/setup-node@v1

      - name: Install asciidoctor Gem
        run: gem install asciidoctor -v 1.5.7.1

      - name: RenameHomeFiles
        run: |
          cd general-scripts
          npm install
          node renamer.js ../devonfw-guide/ Home .asciidoc
          cd ..

      - name: Copy pom files for architectures
        run: |
          chmod +x architectures/scripts/copyPomFiles.sh
          architectures/scripts/copyPomFiles.sh

      - name: npm install for architectures
        run: |
          cd architectures/scripts
          npm install
          cd ../../

      - name: Compile sass for architectures
        uses: gha-utilities/sass-build@v0.4.2
        with:
          source: architectures/index.scss
          destination: architectures/index.css

      # asciidoctor tries to load gems dynamically to convert md and scss files.
      # As this gems are not installed this is breaking the build.
      - name: Remove files that are breaking the build
        run: |
          rm architectures/README.md || true
          rm architectures/index.scss || true

      - name: Build
        run: mvn -s ./.m2/unblock-rubygem-proxy-settings.xml clean package

      - name: SplitHtml
        run: |
          asciidoctor -r ./asciidoctor-extensions/multipage-html5-converter.rb -b  multipage_html5 ./target/asciidoc/devonfw-guide/master.asciidoc -a toc=left -D ./target/generated-docs/website/pages/docs
          cp -avr target/generated-docs/images/ target/generated-docs/website/pages/docs/

      - name: Postprocessing
        run: |
          cd general-scripts
          npm install
          node merger.js ../target/generated-docs/devonfw-guide/master.html ../target/generated-docs/website/pages/docs/ ../target/generated-docs/website/pages/docs/
          node merge-search-results.js search-results.html ../target/generated-docs/devonfw-guide/master.html ../target/generated-docs/website/pages/search-results/ ../target/generated-docs/website/pages/search-results/
          node merge-explore.js page-explore.html ../target/generated-docs/website/pages/explore/explore.html ../target/generated-docs/website/pages/explore/ ../target/generated-docs/website/pages/explore/ explore.html
          node video-to-iframe.js ../target/generated-docs/website/pages/resources/resources.html
          node rereferencer/rereference.js ../../target/asciidoc/devonfw-guide/ ../../target/generated-docs/website/pages/docs/
          node highlight-current.js ../target/generated-docs/website
          cd ..

      - name: Create output for architectures
        run: |
          chmod +x architectures/scripts/createOutput.sh
          architectures/scripts/createOutput.sh

      - name: Copy output of architectures
        run: |
          cp -avr architectures/target/generated-docs/ target/generated-docs/website/pages/architectures/

      - name: Reindex
        run: |
          cd target/generated-docs/search-engine
          npm install
          node ./converter.js ../website/pages/docs/ ../website/pages/explore/ ../katacoda-scenarios/ ../website/pages/architectures/solutions/ .html
          cp {index.json,docs-json.json} ../website
          cd ../../..

      - name: Cleanup
        run: |
          cd target/generated-docs
          rm -Rf asciidoctor* documentation pom.xml README.html rubygems*

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v2.5.0
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          PUBLISH_BRANCH: master
          PUBLISH_DIR: ./target/generated-docs
