@import 'settings/devonfw';
@import 'components/navbar';
@import 'components/asciidoc';
@import 'components/awesome-icons';
@import 'pages/welcome.scss';
@import 'pages/page-results.scss';
@import 'pages/resources';
@import 'pages/community';
@import 'pages/docs';

@font-face {
  font-family: "Ubuntu";
  src: url("website/assets/fonts/Ubuntu-Regular.woff2") format('woff2'),
       url("website/assets/fonts/Ubuntu-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("website/assets/fonts/Ubuntu-Italic.woff2") format('woff2'),
       url("website/assets/fonts/Ubuntu-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url("website/assets/fonts/Ubuntu-Bold.woff2") format('woff2'),
       url("website/assets/fonts/Ubuntu-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  overflow-x: hidden;
}


* { 
  font-family: Ubuntu;
}
pre * {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}


.sect1 > *:first-child {
  margin-bottom: 2rem;
}

/***************************** Utilities *******************************/
.hidden {
  display: none;
}

.visible {
  visibility: visible;
}

hr {
  display: none;
}

.search-results hr {
  display: block;
}

.bg-custom-blue {
  background-color: #4cbdec;
}

@media (max-width: 768px) {
  .website-navbar > ul {
    z-index: 25;
    background-color: #4cbdec;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 75%;
    height: 100vh;
    align-items: start;
    visibility: hidden;

    & > li:first-child {
      margin-left: 60px;
      margin-top: 0;
      height: 50px;
      display: flex;
      align-items: center;
      visibility: visible;
    }
  }
}


.sect3 {
  margin-bottom: 50px
}

.sect3:last-of-type {
  margin-bottom: 0
}

.nav-footer {
  display: none;
}

.menu-button {
  z-index: 30;
  background: transparent;
  border: none;
}

.form-inline {
  z-index: 30;
  margin-left: auto;
  margin-right: 0.5rem;
}

.custom-blue {
  color: #4cbdec;
}

a {
  word-break: break-all;
  color: #4cbdec;
  text-decoration: none;
  line-height: inherit;
}

.text-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-ligthgray {
  background-color: #f0f0f0;
}

.custom-col {
  display: flex;
  flex-direction: column;
}

div.hr-2 {
  height: 2px;
}

div.hr-3 {
  height: 3px;
}

table {
  text-align: left;
  border: none;
  margin-top: 4.5em;
  display: block;
  overflow-x: auto;
}

table.tableblock {
  margin-top: 1.25em;
  margin-bottom: 4.5em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.overflow-x-auto {
  overflow-x: auto;
}

.z-100 {
  z-index: 100;
}

.z-50 {
  z-index: 50;
}

.reset-bg-color {
  background-color: #fff;
}

.custom-grey {
  color: rgba(43, 41, 45, 0.6);
}

.literalblock,
.listingblock {
  pre {
    text-align: left;
    background: $pre-bg;
    

  }
}

/***** Buttons ******/

.btn * {
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
}

.btn a:hover {
  text-decoration: none;
}

.btn.blue-button {
  background-color: #4cbdec;
  border-color: #4cbdec;
  color: white;


  & * {
    color: white;
  }

  & p {
    margin: 0;

  }
}

.btn.white-button {
  background-color: #fff;
  border-color: lightgrey;
  color: #4cbdec;


  & * {
    color: #4cbdec;
  }

  & p {
    margin: 0;
  }
}


/***** Landing page content ******/
#content {
  max-width: fit-content;
  padding-left: 0;
  padding-right: 0;

}

/***** Solutions page content ******/
#content .sect1, #content #solutioncontent {
  max-width: 90em;
  padding-left: 2rem;
  padding-right: 2rem;

}

@media screen and (min-width: 768px) {
  .sect1 {
    padding-bottom: 3rem;
  }
}

@media only screen and (min-width: 1025px) {
  body.book.toc2.toc-left {
    display: grid;
    grid-template-rows: auto 0 40px 1fr auto;
    grid-template-columns: calc(90em * 0.01) calc(90em * 0.20) calc(90em * 0.52) calc(90em * 0.01) calc(90em * 0.25);
    padding-left: 0;
}

    body.book.toc2.toc-left .website-navbar {
    max-width: 100vw;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
}

    body.book.toc2.toc-left #header > :nth-child(3) {
    grid-row-start: 3;
    position: relative;
    background-color: white;
    border: none;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 66%;
    padding-right: 2rem;
}

    #toc .sectlevel1 > li > a::before { position: relative; top: 6px; content:url('/images/mdi_chevron-right-1@1x.png');}
    #toc #actSectLev::before { content: var(--link-to-chevron); }

    #toc.toc2 .sectlevel3 { padding-left: 2.5em; }

    .sectlevel3 { max-width: 100%; top: 8.2%; position: fixed; left: 80%; margin-left: 3%; color: #555555; }
    .sectlevel3 li { margin: 9px 0 10px; }


    #toc .sectlevel3 .activeLine { color: #4cbdec;}


    body.book.toc2.toc-left #content {
        padding: 1.25em 1.75em 2em 0;
    }

    #toc .sectlevel3 .activeLine::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 3px;
        height: 32px;
        background: #4cbdec;
        top: 12px;
        left: -10px;
        margin-top: -20px;
        margin-right: -3px;
    }

    #content-caption-li {
        font-size: 18px;
        margin-bottom: 30px;
        margin-left: -8.2px;
    }

    #content-caption {
        font-weight: bold;
    }

    .sectlevel2 > li > a {
        margin-left: 8px;
    }
    body.book.toc2.toc-left #footer {
      max-width: 100vw;
      margin-left: 0;
      grid-row-start: 5;
      grid-column-start: 1;
      grid-column-end: 7;
     }
    
     .footnote {
      grid-row-start: 6;
      grid-column-start: 2;
      grid-row-end: 7;
      grid-column-end: 3;
     }

}



.toc-root { 
    display: none
}

h3 { 
    font-weight: bold;
}

.white-button-overlay {
	visibility: hidden;
	min-height: 100px;
	display: inline-block;
	color: white;
	text-align: center;
	vertical-align: middle;
	background-color: #4cbdec;
	border-color: #4cbdec;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	margin-top: 0 !important;
	position: relative;
	z-index: 1000;
	&:hover {
		visibility: visible;
	}
	ul {
		margin-left: 0;
		margin-bottom: 0;
		* {
			&:nth-child(odd) {
				font-weight: bolder;
				word-break: break-word;
			}
			&:nth-child(even) {
				font-weight: lighter;
				background-color: white;
				color: #4cbdec;
				padding: 5px;
				border-radius: .25rem;
			}
		}
	}
	li {
		display: block;
		text-align: left;
	}
}

.overlay-trigger {
	&:hover {
		~ {
			.white-button-overlay {
				visibility: visible;
			}
		}
	}
}

#website-navbar a.active:not(.image) {
  padding-bottom: 5px;
  border-bottom-color: #fff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.internal {
  display: none;
}


.internal-active {
  display: flex;
  margin-bottom: 16px;
  .info{
    margin-right: 10px;
    border-right: solid #4cbdec 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    .infoText{
      text-align: center;
      display: none;
    }
	.infoImage {
	   width: 50px;
	}
  }
  .right{
    .message{
      color: lightgray;
    }
  }
}

.custom-card .ulist ul li:nth-child(4) {
  margin-top: 1rem;
}
.custom-card .ulist ul li:nth-child(5) {
  margin-top: 1rem;
}

/***** Cookie consent box *****/
#cookie-consent {
  position: fixed;
  bottom: 0;
  width: 33%;
  background: #23576e;
  color: white;
  padding: 1.25em;
  z-index: 11111;

  .cookie-consent-buttons {
    text-align: right;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  #cookie-consent {
    width: 100%;

    .cookie-consent-buttons {
      text-align: left;
    }
  }
}

/***** Website Internal *****/
.floating_help{
	position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #4cbdec;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    background-image: url(https://api.iconify.design/mdi/help-circle-outline.svg?color=white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;	
}

.reference-sheet-banner {
    width: 100%;
    background: #23576e;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    padding: 0.3rem 1.5rem;
}

.reference-sheet-banner p {
    margin: 0;
}

.reference-sheet-banner p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.reference-sheet-banner .info-icon {
    font-size: 1.5rem;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

#banner-close-button {
    float: right;
    color: #fff;
}

.reference-sheet-banner .banner-close-icon {
    font-size: 1.3rem;
    position: relative;
    top: 3px;
}

.cg-internal-link img {
    width: 2rem !important;
    min-width: 1rem !important;
    margin-right: 0.3rem !important;
}